@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round';
    color: #1f2020;
}

main {
    position: absolute;
    top: 300px;
    left: 25%;
    right: 25%
}

header {
    height: 250px;
}

#header__background {
    position: relative;
    width: 100%;
    height: 250px;
}

#picture {
    border-radius: 100px;
    position: absolute;
    top: 250px;
    left: 5%;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
}

.icons {
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gray;
    padding: 5px 2px;
    margin-top: 3px;
}